@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">CI/CD testing</h1>
    <p>Deployement of aws.net core web app onto jenkins -> AWS</p>
</div>
