@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">CI/CD testing</h1>
    <p>Deploying an ASP.NET core web app onto jenkins to AWS</p>
</div>
